---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact | Westend Digital">
  <section>
    <h1>Contact</h1>

    <ContactForm />
  </section>
</Layout>
