---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blog")
---

<Layout title="Blog | Westend Digital">
  <h1>Blog</h1>

  <div class="blog-list">
    {
      blogs.map(blog => (
        <a href={`/blog/${blog.slug}`}>
          <h2>{blog.data.title}</h2>
          <img
            src={blog.data.image}
            width={500}
            height={500 / 1.5}
            alt={blog.data.title}
          />
        </a>
      ) )

    }

  </div>
</Layout>


<style>

  .blog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    a {
    max-width: 45rem;
    display: grid;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 8px;

    img {
      object-fit: cover;
      object-position: center;
    }

    p {
      line-clamp: 2;
    }
  }
  }

</style>
