---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.astro";
import FooterSection from "../sections/FooterSection.astro";
---

<Layout title="Contact | Westend Digital">
  <Header>
    <div>
      <h1>Neem contact met me op</h1>
      <p>Ik ben benieuwd waar je mee bezig bent, waar je tegenaan loopt en hoe ik je kan helpen met je bedrijf. Als je denkt dat we een goede match zijn, neem dan hieronder contact met mij op.</p>
    </div>
  </Header>
  <main>
    <section>
      <ContactForm />
    </section>
  </main>
  <FooterSection />
</Layout>
