---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Westend Digital">
	<main class="wrapper">
      <img src="public/assets/logos/Original Logo.svg" alt="Logo Westend Digtal">
      <h1>Op dit moment werken wij hard aan ons portfolio en aan onze website</h1>
      <h2>De Verwachte lanceer datum is 01-01-2025</h2>
      <div>
        <p>Wil je alvast een inkijk je in ons porfolio of contact met ons op nemen?</p>
        <ul role="list">
          <li>Kijk dan op deze <a href="www.remcojonk.nl">Website</a></li>
          <li>Of mail naar remco@westend-digital.nl</li>
        </ul>
      </div>
	</main>
</Layout>

<style>
	main {

    img {
      width:100%
    }

    div {
      margin-block-start: 3rem;
    }
	}
</style>
