---

const {
  buttonStyle = "btn-primary",
  buttonType = "button",
  buttonId,
} = Astro.props

---

<button type={buttonType} class={`btn ${buttonStyle}`} id={buttonId}>
  <slot />
</button>


<style is:global>
  .btn {
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    padding-block: 1rem;
    padding-inline: var(--size-3);
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    text-align: center;
    text-decoration: none;
  }

  .btn-primary {
    background-color: var(--clr-primary-900);
    color: var(--clr-primary-100);

    &:hover,
    &:active {
      background-color: var(--clr-secondary-900);
      color: var(--clr-secondary-100);
  }
  }

  .btn-primary-open {
    background-color: transparent;
    border: solid 1px var(--clr-primary-900);
    color: var(--clr-primary-900);
  }

  .btn-secondary {
    background-color: var(--clr-secondary-900);
    color: var(--clr-secondary-100);
    max-width: 65ch;
  }

  .btn-secondary-open {
    background-color: transparent;
    border: solid 1px var(--clr-secondary-900);
    color: var(--clr-secondary-900);
  }

  .nav-btn {
    background-color: transparent;
    grid-column: -3;
    margin-inline-start: auto;
    padding: 0;
    width: fit-content;
   }

  .arrow-btn {
    background-color: transparent;
    padding: 0;
    width: fit-content;
  }

</style>
