<div class="card-grid">
  <slot />
</div>

<style>
  .card-grid {
    display: grid;
    gap: var(--size-4);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;


    a {
      text-decoration: none;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
</style>
