---

const {cardStyle = "primary"} = Astro.props
---

<div class={`card ${cardStyle}`}>
  <slot />
</div>

<style>
  .card {
    border-radius: var(--border-radius-card);
    padding: 2.4rem 1.6rem;
  }

  .primary {
    color: var(--clr-primary-900);

    img {
      height: 12rem;
      width: 12rem;
      object-fit: cover;
      margin-block-end: var(--size-2);
    }

    h3 {
      font-size: var(--fs-600);
      margin-block-end: var(--size-1);
    }

  }

  .review {
    box-shadow: 2px 5px 9px hsl(from var(--clr-primary-700) H S L / 0.25);
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    height: fit-content;
    width: 100%;

    div {
      display: grid;
      gap: var(--size-1);

      span {
        color: var(--clr-primary-500);
      }
    }
  }
</style>
