---
import ListItemWithIcon from "../components/ListItemWithIcon.astro";

const { competition, westendDigital } = Astro.props;
---

<div class="flex">
  <div class="who-is-this-for-column">
    <h3 set:html={competition.title} />

    <ul role="list">
      {
        competition.list.map((listItem) => (
          <ListItemWithIcon icon="❌" listItem={listItem} />
        ))
      }
    </ul>
  </div>
  <div class="who-is-this-for-column">
    <h3 set:html={westendDigital.title} />
    <ul role="list">
      {
        westendDigital.list.map((listItem) => (
          <ListItemWithIcon icon="✅" listItem={listItem} />
        ))
      }
    </ul>
  </div>
</div>

<style>
  .who-is-this-for-column {
    width: 50%;

    h3 {
      font-size: var(--fs-600);
      height: calc(var(--fs-700) * 2);
      margin-block-end: var(--size-2);
    }
  }
</style>
