---
import { sendEmail } from "../pages/api/contactform.js";

let errors = { name: "", email: "", message: "", subject: "" };
if (Astro.request.method === "POST") {
  errors = { name: "", email: "", message: "", subject: "" };
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");
    const subject = data.get("subject");

    // Validation logic
    // Example validation (add your own as needed)
    if (!name) errors.name = "Naam is verplicht";
    if (!email) errors.email = "Email is verplicht";
    if (!subject) errors.subject = "Onderwerp is verplicht";
    if (!message) errors.message = "Wat is je vraag?";

    const hasErrors = Object.values(errors).some((val) => val);

    if (!hasErrors) {
      const payload = {
        name: name,
        email: email,
        html: JSON.stringify(message),
        subject: subject,
      };
      await sendEmail(payload);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form method="POST">
  <div>
    <label for="name">Your Name: *</label>
    <input type="text" id="name" name="name" required />
    <div class="">{errors.name}</div>
  </div>

  <div>
    <label for="email">Your Email: *</label>
    <input type="email" id="email" name="email" required />
    <div class="">{errors.email}</div>
  </div>

  <div>
    <label for="subject">Subject: *</label>
    <input type="text" id="subject" name="subject" required />
    <div class="" id="error-subject">{errors.subject}</div>
  </div>

  <div>
    <label for="message">Message: *</label>
    <textarea id="message" name="message" rows="4" required></textarea>
    <div class="">{errors.message}</div>
  </div>

  <input type="submit" value="Send" />
</form>
