---
const {sectionTitle} = Astro.props
---

  <h2>{sectionTitle}</h2>

<style>

  h2 {
    display: block;
    font-size: var(--fs-700);
    grid-column: 2 / -2;
    margin-bottom: var(--size-4);
    text-align: center;
  }
</style>
