.bannerCta {
  align-items: center;
  background-color: var(--clr-secondary-900);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  inset-inline: 0;
  justify-content: center;
  padding: 20px;
  position: fixed;
  top: var(--size-1);
  z-index: 1000;

  .bannerTitle {
    width: 60%;

    h2 {
      margin-block-end: var(--size-1);
    }
  }

  .bannerButtonWrapper {
    display: grid;
    gap:var(--size-1);
    width: 40%;
  }

  #closeBtn {
    background: none;
    border: none;
    color: var(--clr-neutral-200);
    cursor: pointer;
    font-size: var(--fs-600);
    position: absolute;
    top: var(--size-1);
    right: var(--size-1);
  }
}
