---
import Image from "astro/components/Image.astro";

const ctaImage = "/images/remco-bg-transparent.png"
---

<section class="fb-col-wrapper" id="cta-section">
  <div class="cta-content">
    <h2 class="cta-title">Klaar om jouw online succes te versnellen?</h2>
    <div class="btn-wrapper">
      <a href="tel:+31722029324" class="btn btn-secondary">Bel me</a>
      <a href="mailto:info@westend-digital.nl" class="btn btn-secondary-open">Stuur een email</a>
    </div>
  </div>
  <Image
    alt="Remco Jonk"
    class="cta-image"
    src={ctaImage}
    height={500}
    width={500}
  />
</section>

<style>
  #cta-section {
    background-color: var(--clr-primary-700);
    color: var(--clr-primary-100);
    padding-block: var(--size-6);
  }

  .cta-content {
    align-content: center;
    text-align: center;
    grid-column: 2 / -2;

    .cta-title {
      font-size: var(--fs-700);
      margin-block-end: var(--size-3);
    }

    .btn-wrapper {
      display: flex;
      gap: var(--size-1);
      justify-content: center;

      button {
        width: 20rem;
      }
    }
  }

  .cta-image {
    display: none;
    object-fit: contain;
  }

  @media(width >= 43.75em) {
    #cta-section {
      padding: unset;

    }
    .cta-content {
      grid-column: 2 / 6;
    }

    .cta-image {
      display: block;
      grid-column: -2 / 6;
      margin-block-start: auto;
      margin-inline: auto;
    }

  }
  @media(width >= 62.5em) {

    .cta-content {
      grid-column: 2 / 7;
    }

    .cta-image {
      display: block;
      grid-column: -2 / 7;
      margin-inline: auto;
    }

  }
</style>
