---
// Astro assets
import { Image } from "astro:assets";

// Variables
const ctaImage = "/images/kennis-making.webp";
---

<section class="fb-col-wrapper" id="cta-section">
  <div class="cta-content">
    <h2 class="cta-title">Klaar om jouw online succes te versnellen?</h2>
    <div class="btn-wrapper">
      <a
        href="tel:+31722029324"
        class="btn btn-secondary"
        aria-label="klick om te bellen">Bel me</a
      >
      <a
        href="mailto:info@westend-digital.nl"
        class="btn btn-secondary-open"
        aria-label="klick om een mail te sturen">Stuur een email</a
      >
    </div>
  </div>
</section>

<style>
  #cta-section {
    background:
      linear-gradient(315deg, hsl(224, 35%, 28%, 0.7), hsl(224, 75%, 11%, 0.8)),
      url("/images/remco-programming.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-primary-100);
    height: 50vh;
    margin-block-end: 0;
  }

  .cta-content {
    align-content: center;
    grid-column: 2 / -2;
    text-align: center;

    .cta-title {
      color: var(--clr-primary-100);
      font-size: var(--fs-700);
      margin-block-end: var(--size-3);
    }

    .btn-wrapper {
      display: flex;
      gap: var(--size-1);
      justify-content: center;

      button {
        width: 20rem;
      }
    }
  }

  .cta-image {
    display: none;
    object-fit: contain;
  }

  @media (width >= 43.75em) {
    #cta-section {
      padding: unset;
    }
    .cta-content {
      grid-column: 2 / -2;
    }
  }
  @media (width >= 62.5em) {
    .cta-content {
      grid-column: 2 / -2;
    }
  }
</style>
