---
import Card from "../components/Card.astro";
const { sectionId = "" } = Astro.props;
---

<section class="flex-column hidden" id={sectionId}>
  <div class="dark-bg" id="double-review-wrapper">
    <div class="wrapper">
      <div class="reviews-wrapper">
        <Card cardStyle="review">
          <p>
            "Remco is een hele kundige en ervaren web-ontwikkelaar, die een
            prachtige nieuwe website heeft gebouwd voor mijn praktijk! Ik ben er
            heel erg blij mee. Hij communiceert duidelijk en helder, en maakt
            echt een website die past bij je bedrijf. Bedankt Remco!"
          </p>

          <div class="avatar-details">
            <picture class="review-avatar">
              <img src="" alt="Eline Pesser" />
            </picture>
            <div>
              <h3>Eline Pesser</h3>
              <span>Mama Mentaal</span>
            </div>
          </div>
        </Card>
        <Card cardStyle="review">
          <p>
            "We zijn erg blij dat Remco ons heeft geholpen met het maken van de
            website voor onze B&B. Hij luisterde naar ons verhaal, wat ons doel
            was, stelde concrete vragen en gaf goede suggesties. We konden hem
            altijd goed bereiken en de overleggen waren ook gezellig. Helemaal
            top, dankjewel!"
          </p>

          <div class="avatar-details">
            <picture class="review-avatar">
              <img src="" alt="Linda Munster" />
            </picture>

            <div>
              <h3>Linda Munster</h3>
              <span>B&B Schermer Eylandt</span>
            </div>
          </div>
        </Card>
      </div>
    </div>
  </div>
</section>

<style>
  #double-review-wrapper {
    clip-path: polygon(0 0, 100% 5rem, 100% 100%, 0% calc(100% - 5rem));
    padding-block: 12rem;
  }

  .reviews-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-2);
    justify-content: center;

    .review:nth-child(2) {
      margin-top: 5rem;
    }
  }
</style>
