---
import Card from "../components/Card.astro";
---

<section
  class="flex-column dark-bg padding-block-8 hidden"
  id="double-review-section"
>
  <div class="wrapper">
    <div class="reviews-wrapper">
      <Card cardStyle="review">
        <p>
          "Sinds de nieuwe website begrijpen mensen meteen wat we doen. Dat
          scheelt me zoveel uitleg."
        </p>

        <div class="avatar-details">
          <picture class="review-avatar">
            <img src="/images/sampel-avatar.jpg" alt="Review 1" />
          </picture>
          <div>
            <h3>Linda Munster</h3>
            <span>Schermer Eylandt</span>
          </div>
        </div>
      </Card>
      <Card cardStyle="review">
        <p>
          "Sinds de nieuwe website begrijpen mensen meteen wat we doen. Dat
          scheelt me zoveel uitleg."
        </p>

        <div class="avatar-details">
          <picture class="review-avatar">
            <img src="/images/sampel-avatar.jpg" alt="Review 1" />
          </picture>

          <div>
            <h3>Linda Munster</h3>
            <span>Schermer Eylandt</span>
          </div>
        </div>
      </Card>
    </div>
  </div>
</section>

<style>
  .reviews-wrapper {
    display: flex;
    gap: var(--size-2);
    justify-content: center;
  }
</style>
