---
import Image from "astro/components/Image.astro";

const {
  title,
  paragraph,
  imageUrl,
  altText
} = Astro.props
---

<section class="intro-section fb-col-wrapper">
  <div class="copy-wrapper">
    <h2>{title}</h2>
    <p>{paragraph}</p>
  </div>
  <div class="img-wrapper">
    <Image src={imageUrl} alt={altText} width={500} height={500} />
  </div>
</section>


<style>

  .intro-section {
  }

  .copy-wrapper {
    grid-column: 2 / 4;
    justify-self: stretch;
    align-self: center;
    display: grid;
    gap: var(--size-2);

    h2 {
      font-size: var(--fs-700);
    }
  }

  .img-wrapper {
    grid-column: 2 / -2;
    object-fit: cover;
    justify-self: stretch;
    align-self: stretch;
    height: 45rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (width >= 43.75em) {
    .copy-wrapper {
      grid-column: 2 / 4;

      h2 {
        font-size: var(--fs-700);
      }
    }


    .img-wrapper {
      grid-column: 5 / -2;
    }
  }

  @media(width >= 62.5em) {

    .copy-wrapper {
    grid-column: 2 / 8;

    h2 {
      font-size: var(--fs-700);
    }
  }


    .img-wrapper {
    grid-column: 8 / -2;
  }

  }


</style>
