---
import { PlusIcon } from "../assets/icons"
import WebCheckForm from '../components/reactComponent.WebCheckForm/WebCheckForm';
const {
  paragraph,
  uspList,
  ctaText,
  ctaButton,

} = Astro.props

---


<section class="wrapper flex">
  <WebCheckForm />


    <div>
      <p>{paragraph}</p>
      <ul role="list">
        {uspList.map(item => {
          return (
            <li><PlusIcon /> <span>{item}</span></li>
          )
        })}
      </ul>
      <p>{ctaText}</p>
    </div>
</section>

<style>
  .form-wrapper {
    width: 100%;
  }
  ul {
    padding-block: var(--size-3);
  }

  li {
    display: flex;
    align-items: center;
    gap: var(--size-1);
    padding-inline-start: var(--size-1);
    line-height: var(--lh-400);

}
</style>
