---

---

<header class="sales-hero">
  <div class="wrapper">
    <slot />
  </div>
</header>

<style>
  .sales-hero {
    background-image: url("/assets/images/Shared/hero-background-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-primary-100);
    padding-block: 12rem;
    margin-block-start: 6rem;

    .wrapper {
      align-items: center;
      gap: var(--size-4);
      
      .hero-content {
        color: var(--clr-primary-100);
        text-align: center;
        width: 55%;

        h1 {
          color: inherit;
        }
      }

      .contact-form-wrapper{
        padding: var(--size-3);
        background-color: #202b48;
        border-radius: var(--border-radius-card);
        border: solid 1px var(--clr-primary-100);
        display: grid;
        justify-content: space-between;
        width: 45%;

        h2 {
          color: var(--clr-primary-100);
        }

        form {
          display: grid;
          gap: var(--size-1);
          margin-block-start: var(--size-2);

          button {
            margin-block-start: var(--size-1);
            width: 100%;
          }

          span {
            display: block;
          }
        }
      }
    }
  }
</style>
