---
// Components
import TesteminalComponent from "../../components/TesteminalComponent.astro";

// Data via props
const { testemonialsSection } = Astro.props;
---

<section class="wrapper testemonial-section hidden" id="testemonial-section">
    <h2 set:html={testemonialsSection.title} />

    <div class="testemonials-wrapper">
      {
        testemonialsSection.testemonials.map((testemonial) => (
          <TesteminalComponent review={testemonial} />
        ))
      }
    </div>
</section>

<style>
  .testemonial-section {
    background-color: var(--clr-primary-900);
    border-radius: var(--border-radius-card);
    color: var(--clr-primary-100);
    padding-block: var(--size-2);
    padding-inline: var(--size-1);
    display: grid;
    gap: var(--size-4);

    h2 {
      color: inherit;
      text-align: center;
    }

    .testemonials-wrapper {
      gap: var(--size-2);

      @media (width >= 850px) {
        display: flex;
      }
    }
  }
</style>
