---
// SVG Icons
import { SheeldIcon } from "../../assets/icons";
// Data via props
const { content, sectionId } = Astro.props;
---

<div class="wrapper hidden trust-section" id={sectionId}>
  <div class="dark-bg">
    <div class="section-header">
      <SheeldIcon />
      <h2>{content.title}</h2>
      <p>{content.content}</p>
    </div>
    <ul role="list">
      {content.list.map((item) => <li set:html={item} />)}
    </ul>
  </div>
</div>

<style>
  .trust-section {
    overflow: hidden;

    .dark-bg {
      border-radius: var(--border-radius-card);
      padding: var(--size-4) var(--size-7);
      display: flex;
      flex-direction: column;
      gap: var(--size-2);

      .section-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--size-1);
        text-align: center;

        h2 {
          color: var(--clr-secondary-900);
        }

        p {
          color: var(--clr-neutral-100);
        }
      }

      ul {
        li {
          .list-icon {
            margin-inline-end: var(--size-1);
            color: var(--clr-secondary-900);
          }
        }
      }
    }
  }
</style>
