
.contactForm {
  display: grid;
  gap: var(--size-2);


  label {
    color: var(--clr-primary-900);
    display: flex;
    gap: var(--size-1);
    flex-direction: column;
    margin-inline-start: auto;
    width: 75%;

    .starRequired {
      color: var(--clr-alert-red-900);
    }
    
    input,
    textarea {
      border: none;
      border-bottom: 1px solid var(--clr-primary-800);

      caret-color: var(--clr-secondary-900);
      padding-block: var(--size-1);
      font-size: var(--fs-500);

      &:focus {
        border-bottom: 2px solid var(--clr-primary-900);
        outline: none;
      }

    }
  }
}

.btnWrapper {
  display: grid;
  gap: var(--size-1);
  margin-block-start: var(--size-3);
  margin-inline-start: auto;
  text-wrap: pretty;
  width: 50%;
}

.btn {
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    padding-block: 1rem;
    padding-inline: var(--size-3);
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

.btnSubmit {
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);

  &:hover,
  &:active {
    background-color: var(--clr-secondary-900);
    color: var(--clr-secondary-100);
  }
}
