---
import Navbar from '../components/Navbar.astro';
import '../styles/globals.css'

const {
 title = "Rythm Nation",
 description =  "A demo blog for a community of music producers and enthusiasts",
 image = ""
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <!-- Google tag (gtag.js) -->
  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-702CFG42DP"></script>
  <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-702CFG42DP');
      </script>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <link rel="preload" as="image" href="/assets/images/shared/hero-background-image.webp"> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description}>
    <meta property="og:image" content={image}>

	</head>
	<body>
    <Navbar />
		<slot />
	</body>
</html>
